#Used to add and remove the test database
DB_SUPER_NAME=
DB_SUPER_USER=postgres
DB_SUPER_PASSWORD=

# Prefilled for standard configuration. Just add your password.
DB_USER=
DB_PASSWORD=
DB_PORT=5432
DB_HOST=localhost
DB_NAME=sikka-buya-test
MAX_SEARCH=20
JWT_SECRET=secret

# Required for recording cypress runs to a dashboard.
CYPRESS_RECORD_KEY=

database_schema_file=../coins_schema.sql
graphql_schema_file=../backend/src/graphql/schema.graphql