#Used to add and remove the test database
DB_SUPER_USER=postgres
DB_SUPER_PASSWORD=

# Prefilled for standard configuration. Just add your password.
user=
password=
port=5432
host=localhost
database=sikka-buya-test-database
MAX_SEARCH=20