**/node_modules
**/.env 

**/*.ignore

**/videos/**

**/dist/**

backend/scripts/modules/logs/**

test/cypress/screenshots/**
test/_excluded_data/**
test/token.txt
test/api-test-log.txt

frontend/public/image/logos/thyssen_stiftung.jpg
frontend/public/image/logos/Logo_Universitaet_Tuebingen.svg

# Folder for images managed by the "CMS"
frontend/public/data/**


