
@font-face {
    font-family: "Amiri";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Amiri/Amiri-Regular.ttf") format("truetype");
}
 
@font-face {
    font-family: "Amiri";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Amiri/Amiri-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Amiri";
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/Amiri/Amiri-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Amiri";
    font-style: italic;
    font-weight: bold ;
    src: url("../fonts/Amiri/Amiri-BoldItalic.ttf") format("truetype");
} 

@font-face {
    font-family: "Arimo";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Arimo/static/Arimo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Arimo";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Arimo/static/Arimo-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Times New Roman";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/TimesNewRoman/times.ttf") format("truetype");
    unicode-range: U+0600-06ff;
}

@font-face {
    font-family: "Times New Roman";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/TimesNewRoman/timesbd.ttf") format("truetype");
    unicode-range: U+0600-06ff;
}