@font-face {
    font-family: "Arimo";
    src: url("@/assets/fonts/Arimo/static/Arimo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Arimo";
    font-weight: bold;
    src: url("@/assets/fonts/Arimo/static/Arimo-Bold.ttf") format("truetype");
}