.leaflet-popup {
    font-family: $font;
    min-width: 250px;

    .body {
        position: relative;
    }

    .simplebar-content-wrapper {
        padding: 10px 0;
    }

    .leaflet-popup-content .popup-body {
        padding-top: 0;

        max-height: 360px;
        overflow-y: auto;
        overflow-x: hidden;

        h2 {
            margin-top: 0;
        }

        &:last-child {
            padding-bottom: $padding * 2;
        }
    }

    .leaflet-popup-content-wrapper {
        padding: 0;
        border-radius: $border-radius;
    }

    .leaflet-popup-content {
        margin: 0;
        min-height: 34px;

        > *:not(hr) {
            padding: $padding 2 * $padding $padding 2 * $padding;
        }

        > :last-child {
            margin-bottom: 0 !important;
        }
    }

    a.leaflet-popup-close-button {
        color: $gray;
        opacity: 1;
        font-size: 1.5em !important;
        padding: 4px !important;
        font-family: $font;
        // padding: 3px !important;
    }

    h2,
    h3,
    h4 {
        margin: 0.5em 0;
    }

    h2:first-child {
        margin-bottom: 0;
    }

    ul,
    ol {
        margin: 0.5em 0;
        padding-left: 1em;
    }

    .active {
        padding: 2px 5px;
        font-weight: bold;
        text-decoration: underline;
    }

    .catalog-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .catalog-link {
        color: $primary-color;
        padding: 3px 5px;
        font-size: 0.75rem;
        font-weight: bold;
        border: 1px solid $primary-color;
        border-radius: 5px;
    }

    .leaflet-popup-content header {
        display: flex;
        flex-direction: column;
        align-items: left;

        &:last-child {
            border-bottom: none;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &.no-bottom-margin {
            margin-bottom: 0;
        }

        // margin-left: calc(#{$padding * -2} - 2px);
        // margin-top: calc(#{$padding * -2} - 2px);
        // margin-right: calc(#{$padding * -2} - 2px);

        padding: $padding $padding * 2;
        padding-right: 34px;

        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
        // min-width: 200px;

        .uncertain-info {
            color: $black;
            font-style: italic;
        }
    }
}
