.mint-location-div-marker {
    $radius: 30;
    $weight: 1;
    $color: gray;
    $fillColor: #ffffff;
    $fillOpacity: 1;

    @include circle($radius * 1px);
    background-color: rgba($color: $fillColor, $alpha: $fillOpacity);
    border: $weight * 1px solid $color;
    display: flex !important;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
