@mixin interactive() {
  cursor: pointer;
  user-select: none;
}

@mixin focus() {
  &:focus {
    outline: none;
    // border-color: rgb(143, 143, 143);
  }
}

@mixin input {
  padding: $padding/2 $padding;
  color: $gray;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  box-sizing: border-box;
  background-color: $white;

  transition: background-color 0.2s, color 0.2s;

  &:hover:not(.disable-input) {
    filter: brightness(95%);
  }

  &:active:not(.disable-input) {
    filter: brightness(90%);

  }

  @include focus();
}

@mixin buttonColor($foregroundColor, $backgroundColor) {
  color: $foregroundColor;
  background-color: $backgroundColor;

  &:hover:not(.disable-input) {
    color: lighten($foregroundColor, 5%);
    background-color: lighten($backgroundColor, 5%);
  }

  &:active:not(.disable-input) {
    color: darken($foregroundColor, 5%);
    background-color: darken($backgroundColor, 5%);
  }
}

@mixin disabled_input {
  border: 1px solid $border-color;
  background-color: $border-color;
  user-select: none;
  color: white;
  user-select: none;
  cursor: pointer;
}

@mixin box-padding($size) {
  padding: $size 1.5 * $size;
}

@mixin media-tablet {

  /* Portrait and Landscape */
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin media-phone {
  @media only screen and (max-width: 720px) {
    @content;
  }
}

@mixin linkStyle {
  font-weight: bold;
  color: $primary-color;
  text-decoration: none;
}

@mixin resetLinkStyle {
  font-weight: normal;
  color: currentColor;
}

@mixin allHeadings {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

@mixin font-face($name, $regular, $italic, $bold, $bold-italic, $format: "truetype") {
  @font-face {
    font-family: $name;
    font-style: normal;
    font-weight: normal;
    src: url($regular) format($format);
  }

  @font-face {
    font-family: $name;
    font-style: normal;
    font-weight: italic;
    src: url($italic) format($format);
  }

  @font-face {
    font-family: $name;
    font-style: bold;
    font-weight: normal;
    src: url($bold) format($format);
  }

  @font-face {
    font-family: $name;
    font-style: italic;
    font-weight: bold;
    src: url($bold-italic) format($format);
  }
}

@mixin circle($radius) {
  width: $radius * 2;
  height: $radius * 2;
  border-radius: $radius;
}