@mixin interactive() {
  cursor: pointer;
  user-select: none;
}

@mixin focus() {
  &:focus {
    outline: none;
    // border-color: rgb(143, 143, 143);
  }
}

@mixin input {
  padding: 10px;
  color: gray;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  box-sizing: border-box;
  background-color: white;



  transition: background-color 0.2s, color 0.2s;

  &:hover:not(.disable-input) {
    color: black;
    background-color: rgb(250, 250, 250);
  }

  &:active:not(.disable-input) {
    color: black;
    background-color: rgb(218, 218, 218);
  }

  @include focus();
}

@mixin buttonColor ($foregroundColor, $backgroundColor) {
  color: $foregroundColor;
  background-color: $backgroundColor;

  &:hover {
    color: lighten($foregroundColor, 5%);
    background-color: lighten($backgroundColor, 5%);
  }

  &:active {
    color: darken($foregroundColor, 5%);
    background-color: darken($backgroundColor, 5%);
  }
}

@mixin disabled_input {
  border: 1px solid $border-color;
  background-color: $border-color;
  user-select: none;
  color: white;
  user-select: none;
  cursor: pointer;
}

@mixin box-padding($size) {
  padding: $size 1.5 * $size;
}

@mixin media-tablet {

  /* Portrait and Landscape */
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin media-phone {
  @media only screen and (max-width: 720px) {
    @content;
  }
}

@mixin linkStyle {
  font-weight: bold;
  color: $primary-color;
  text-decoration: none;
}

@mixin resetLinkStyle {
  font-weight: normal;
  color: currentColor;
}

@mixin allHeadings {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content
  }
}