$sans-serif: 'Arimo';
$font: $sans-serif, 'Times New Roman', sans-serif;

$padding: 10px;
$big-padding: 30px;

$white: #fefefe;
$gray: rgb(126, 126, 126);

$text-color: #111;
$background-color: whitesmoke;

$primary-color: #48ac48;

$yellow: #f9d939;
$green: #18f2b2;
$red: #da4133;

$red-dark: darken($red, 10%);

$large-font: 1.2rem;
$regular-font: 1rem;
$small-font: 0.8em;
$xtra-small-font: 0.6em;

$border-radius: 10px;

$transition-time: 0.3s;
$long-transition-time: 0.6s;

$shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
