$sans-serif: 'Arimo';
$arabic: 'Amiri';
$font: $sans-serif,
  $arabic,
  sans-serif;

$tiny-padding: 0.15em;
$small-padding: 0.3em;
$padding: 0.5em;
$big-padding: 0.8em;
$big-box-padding: $big-padding $big-padding * 1.2;

$page-bottom-spacing: 20rem;

$white: #fefefe;
$dark-white: #f1f1f1;
$light-gray: #bfbebe;
$gray: #7e7e7e;
$dark-gray: #333;
$black: #111;

$text-color: $black;
$background-color: whitesmoke;

$blue: #4873ac;
$bright-blue: hsl(214, 60%, 60%);

$yellow: #e4b20d;
$green: #48ac48;
$dark-green: #255725;

$red: #da4133;
$dark-red: darken($red, 10%);

$primary-color: $green;
$dark-primary-color: #255725;


$large-font: 1.2rem;
$regular-font: 0.9rem;
$small-font: 0.75rem;
$xtra-small-font: 0.6rem;

$border-color: rgb(204, 204, 204);
$small-border-radius: 3px;
$border-radius: 5px;
$border-width: 1px;
$big-border-width: 3px;
$border: $border-width solid $border-color;
$big-border: $big-border-width solid $border-color;

$transition-time: 0.3s;
$long-transition-time: 0.6s;

$shadow-offset: 1px 2px;
$shadow: $shadow-offset 5px rgba(0, 0, 0, 0.03);
$strong-shadow: $shadow-offset 5px rgba(66, 66, 66, 0.2);

@mixin box {
  background-color: $white;
  border-radius: 15px;
  box-shadow: $shadow;
  overflow: hidden;

  background-color: $white;
  @include box-padding($big-padding);
}