# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
          POSTGRES_PORT: 5432

    strategy:
      matrix:
        node-version: [16.13.2]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm install yarn -g
      - run: yarn global add grunt
      - run: yarn install
#    
      - name: Create .env file for test environment
        run: |
         touch test/.env
         echo DB_SUPER_USER=postgres >> test/.env
         echo DB_SUPER_PASSWORD=postgres >> test/.env
         echo DB_SUPER_NAME=postgres >> test/.env
         echo DB_READ_ONLY_USER=test_visitor >> test/.env
         echo DB_READ_ONLY_PASSWORD=test_visitor >> test/.env
         echo DB_USER=postgres >> test/.env
         echo DB_PASSWORD=postgres >> test/.env
         echo DB_NAME=sikka-buya-test-database >> test/.env
         echo DB_HOST=localhost >> test/.env
         echo DB_PORT=5432 >> test/.env
         echo JWT_SECRET=secret >> test/.env
         echo MAX_SEARCH=100 >> test/.env
         cat test/.env
#    - run: npm run build --if-present
      - run: |
         cd test && grunt test
